<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,
initialscale=
1.0,maximumscale=
1">
<title>Main page</title>
<link href="http://fonts.googleapis.com/css?family=Roboto:
300,400,700|" rel="stylesheet" type="text/css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/fontawesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
type="text/css">
<link rel="stylesheet" href="../static/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.css">
<style>
 body {
 background-image : url("../static/dummy/bg.png");
 background-repeat: repeat;
 }
</style>
</head>
<body>
<div id="site-content">
<header class="site-header">

<div class="container">
<a href="Projectpage3.html" id="branding">
 <img src="../static/dummy/logo.png" class="logo" height="50px"
width="100px" float="left">
<div class="logo-copy">
<h1 class="site-title">MyChannel</h1>
<small class="site-description">Get your
Favourite Movies and Shows in HD </small>
</div>
</a>
<div class="main-navigation">
<button type="button" class="menu-toggle"><i
class="fa fa-bars"></i></button>
<ul class="menu">
<li class="menu-item current-menu-item"><a
href="Projectpage3.html">Home</a></li>
<li class="menu-item"><a
href="Projectpage4.html">About</a></li>
<li class="menu-item"><a
href="Projectpage5.html">Movie reviews</a></li>
<li class="menu-item"><a
href="Projectpage7.html">Contact</a></li>
<li class="menu-item"><a

href="Projectpage8.html">Logout</a></li>
</ul>
<form action="#" class="search-form">
<input type="text" placeholder="Search...">
<button><i class="fa fa-search"></i></button>
</form>
</div>
<div class="mobile-navigation"></div>
</div>
</header>
<br><br>
<main class="main-content">
<div class="container">
<div class="page">
<div class="row">
<div class="col-md-9">
<div class="slider">
<ul class="slides">
<li><a href="Projectpage9.html"><img src="../static/dummy/img1.png" alt="Slide 1" width = "400px" height="500px"></a></li><br><br>
<li><a href="Projectpage9.html"><img

src="../static/dummy/img2.png" alt="Slide 2"></a></li><br><br>
<li><a href="Projectpage9.html"><img
src="../static/dummy/img3.png" alt="Slide 3"></a></li><br><br>
</ul>
</div>
</div>
<div class="col-md-3">
 <font style="font-family : Arial" size = "30px"><b>Upcoming
Movies</b></font><br><br>
<div class="row">
<div class="col-sm-6">
<a
href="Projectpage9.html"><img src="../static/dummy/img4.png" alt="Movie 1"></a>
</div>
<div class="col-sm-6">
<a
href="Projectpage9.html"><img src="../static/dummy/img5.png" alt="Movie 2"></a>
</div>
<div class="col-sm-6" style="margin-top: 5px;">
<a
href="Projectpage9.html"><img src="../static/dummy/img6.png" alt="Movie 3"></a>
</div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-sm-6 col-md-3">
<div class="latest-movie">
<a href="Projectpage9.html"><img
src="../static/dummy/img7.png" alt="Movie 3"></a>
</div>
</div>
<div class="col-sm-6 col-md-3">
<div class="latest-movie">
<a href="Projectpage9.html"><img
src="../static/dummy/img4.png" alt="Movie 4"></a>
</div>
</div>
<div class="col-sm-6 col-md-3">
<div class="latest-movie">

<a href="Projectpage9.html"><img
src="../static/dummy/img5.png" alt="Movie 5"></a>
</div>
</div>
<div class="col-sm-6 col-md-3">
<div class="latest-movie">
<a href="Projectpage9.html"><img
src="../static/dummy/img6.png" alt="Movie 6"></a>
</div>
</div>
</div>
<div class="row">
<div class="col-md-4">
<h2 class="section-title">November
premiere</h2>
<p>Upcoming Shows and Movies</p>
<ul class="movie-schedule">
<li>
<h2 class="entrytitle">
 <a href="#">Laal Kaptaan</a></h2>
</li>
<li>

<h2 class="entrytitle"><a href="#">Terminator : Dark
Fate</a></h2>Projectpage9.htmlProjectpage9.htmlProjectpage9.htmlProjectpage9.htmlProjectpage9.htmlProjectpage9.htmlProjectpage9.htmlProjectpage9.html
<h2 class="section-title">December
premiere</h2>
<p>List to be updated Soon</p>
</div>
<div class="col-md-4">
<h2 class="section-title">January
premiere</h2>
<p>List to be updated Soon</p>
</div>
</div>
</div>
</div>
</main>
<footer class="site-footer">
<div class="container">
<div class="row">
<div class="col-md-2">

<div class="widget">
<h3 class="widget-title">About Us</h3>
<p style="background-color:lavender;">Team : Aryan
Srivastava </p>
</div>
</div>
<div class="col-md-2">
<div class="widget">
<h3 class="widget-title">
Newsletter</h3>
<form action="#" class="subscribeform">
<input type="text" placeholder="Email Address">
</form>
</div>
</div>
</div>
</div>
</footer>
</div>
<script src="../static/js/jquery-1.11.1.min.js"></script>
<script src="../static/js/plugins.js"></script>
<script src="../static/js/app.js"></script>
</body>
</html>